# Create a file settings.local.py to add special settings for the orcid client.
# This file will be ignored by git.

settings_local = dict(
    CONSUMER_SECRET='qasecret',
    OAUTH_TOKENS={
        '0000-0002-0942-3697': 'validtoken',
    }
)
