interactions:
- request:
    body: !!python/unicode "<work:work xmlns:work=\"http://www.orcid.org/ns/work\"\
      \ xmlns:common=\"http://www.orcid.org/ns/common\" put-code=\"49835133\">\n \
      \           <work:title>\n                <common:title>ORCID Push test - New\
      \ Title</common:title>\n            </work:title>\n            <work:journal-title>ORCID\
      \ Push test</work:journal-title>\n            <work:type>journal-article</work:type>\n\
      \            <common:publication-date>\n                <common:year>1975</common:year>\n\
      \            </common:publication-date>\n            <common:external-ids>\n\
      \            </common:external-ids>\n            <work:url>http://inspirehep.net/record/8201</work:url>\n\
      \            <work:contributors>\n                <work:contributor>\n     \
      \               <work:credit-name>Rossoni, A.</work:credit-name>\n         \
      \           <work:contributor-attributes>\n                        <work:contributor-sequence>first</work:contributor-sequence>\n\
      \                        <work:contributor-role>author</work:contributor-role>\n\
      \                    </work:contributor-attributes>\n                </work:contributor>\n\
      \            </work:contributors>\n        </work:work>"
    headers:
      Content-Type: [application/orcid+xml]
    method: PUT
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/work/46985330
  response:
    body: {string: !!python/unicode '{"response-code":400,"developer-message":"400
        Bad Request: Invalid activity, an external identifier is required.","user-message":"Invalid
        activity: an external identifier is required.","error-code":9023,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 400, message: Bad Request}
version: 1
