interactions:
- request:
    body: null
    headers:
      Content-Type: [application/orcid+json]
    method: DELETE
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/work/50889481
  response:
    body: {string: !!python/unicode '{"response-code":401,"developer-message":"401
        Unauthorized: The client application is not authorized for this ORCID record.
        Full validation error: Access token is for a different record","user-message":"The
        client application is not authorized.","error-code":9017,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 401, message: Unauthorized}
version: 1
