interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/works
  response:
    body: {string: !!python/unicode '
{"group": [{"external-ids": {"external-id": [{"external-id-relationship": "SELF",
                                              "external-id-type": "other-id",
                                              "external-id-url": {"value": "http://inspireheptest.cern.ch/record/20"},
                                              "external-id-value": "20"},
                                             {"external-id-relationship": "SELF",
                                              "external-id-type": "doi",
                                              "external-id-url": {"value": "http://dx.doi.org/10.1000/test.orcid.push.https://labs.inspirehep.net"},
                                              "external-id-value": "10.1000/test.orcid.push.https://labs.inspirehep.net"}]},
            "last-modified-date": {"value": 1532075643102},
            "work-summary": [{"created-date": {"value": 1531928587375},
                              "display-index": "0",
                              "external-ids": {"external-id": [{"external-id-relationship": "SELF",
                                                                "external-id-type": "doi",
                                                                "external-id-url": {"value": "http://dx.doi.org/10.1000/test.orcid.push.https://labs.inspirehep.net"},
                                                                "external-id-value": "10.1000/test.orcid.push.https://labs.inspirehep.net"}]},
                              "last-modified-date": {"value": 1532075643102},
                              "path": "/0000-0002-0942-3697/work/46674246",
                              "publication-date": null,
                              "put-code": 46674246,
                              "source": {"source-client-id": {"host": "orcid.org",
                                                              "path": "0000-0001-8607-8906",
                                                              "uri": "http://orcid.org/client/0000-0001-8607-8906"},
                                         "source-name": {"value": "INSPIRE-HEP"},
                                         "source-orcid": null},
                              "title": {"subtitle": null,
                                        "title": {"value": "Some Results Arising from the Study of ORCID push in PROD at ts 1532074000.23"},
                                        "translated-title": null},
                              "type": "JOURNAL_ARTICLE",
                              "visibility": "PUBLIC"},
                              {"created-date": {"value": 1531928587375},
                              "display-index": "0",
                              "external-ids": {"external-id": [{"external-id-relationship": "SELF",
                                                                "external-id-type": "doi",
                                                                "external-id-url": {"value": "http://dx.doi.org/10.1000/test.orcid.push.https://labs.inspirehep.net"},
     [...]
