interactions:
- request:
    body: null
    headers:
      Content-Type: [application/orcid+json]
    method: DELETE
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/work/50889481
  response:
    body: {string: !!python/unicode '{"response-code":403,"developer-message":"409
        Conflict: The item has a limited or private visibility and your request doesn''t
        have the required scope.","user-message":"You don''t have the permissions
        to execute this action.","error-code":9038,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 403, message: Forbidden}
version: 1
