interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-4490-1930/works
  response:
    body: {string: "{\n  \"last-modified-date\" : {\n    \"value\" : 1540304824257\n\
        \  },\n  \"group\" : [ {\n    \"last-modified-date\" : {\n      \"value\"\
        \ : 1536985754880\n    },\n    \"external-ids\" : {\n      \"external-id\"\
        \ : [ {\n        \"external-id-type\" : \"arxiv\",\n        \"external-id-value\"\
        \ : \"1803.10594\",\n        \"external-id-url\" : {\n          \"value\"\
        \ : \"http://arxiv.org/abs/1803.10594\"\n        },\n        \"external-id-relationship\"\
        \ : \"SELF\"\n      }, {\n        \"external-id-type\" : \"doi\",\n      \
        \  \"external-id-value\" : \"10.1016/j.physletb.2018.06.042\",\n        \"\
        external-id-url\" : {\n          \"value\" : \"http://dx.doi.org/10.1016/j.physletb.2018.06.042\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      } ]\n\
        \    },\n    \"work-summary\" : [ {\n      \"put-code\" : 48036600,\n    \
        \  \"created-date\" : {\n        \"value\" : 1536191593179\n      },\n   \
        \   \"last-modified-date\" : {\n        \"value\" : 1536985754880\n      },\n\
        \      \"source\" : {\n        \"source-orcid\" : null,\n        \"source-client-id\"\
        \ : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"INSPIRE-HEP\"\n        }\n      },\n      \"title\" : {\n        \"\
        title\" : {\n          \"value\" : \"Azimuthally-differential pion femtoscopy\
        \ relative to the third harmonic event plane in Pb-Pb collisions at $\\\\\
        mathbf{\\\\sqrt{\\\\textit{s}_{_{\\\\rm NN}}}}$ = 2.76 TeV\"\n        },\n\
        \        \"subtitle\" : null,\n        \"translated-title\" : null\n     \
        \ },\n      \"external-ids\" : {\n        \"external-id\" : [ {\n        \
        \  \"external-id-type\" : \"doi\",\n          \"external-id-value\" : \"10.1016/j.physletb.2018.06.042\"\
        ,\n          \"external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1016/j.physletb.2018.06.042\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  }, {\n          \"external-id-type\" : \"arxiv\",\n          \"external-id-value\"\
        \ : \"1803.10594\",\n          \"external-id-url\" : {\n            \"value\"\
        \ : \"http://arxiv.org/abs/1803.10594\"\n          },\n          \"external-id-relationship\"\
        \ : \"SELF\"\n        } ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\"\
        ,\n      \"publication-date\" : {\n        \"year\" : {\n          \"value\"\
        \ : \"2018\"\n        },\n        \"month\" : {\n          \"value\" : \"\
        10\"\n        },\n        \"day\" : {\n          \"value\" : \"10\"\n    \
        \    },\n        \"media-type\" : null\n      },\n      \"visibility\" : \"\
        LIMITED\",\n      \"path\" : \"/0000-0002-4490-1930/work/48036600\",\n   \
        \   \"display-index\" : \"0\"\n    } ]\n  }, {\n    \"last-modified-date\"\
        \ : {\n      \"value\" : 1537516275016\n    },\n    \"external-ids\" : {\n\
        \      \"external-id\" : [ {\n        \"external-id-type\" : \"doi\",\n  \
        \      \"external-id-value\" : \"10.1016/j.physletb.2018.08.047\",\n     \
        \   \"external-id-url\" : {\n          \"value\" : \"http://dx.doi.org/10.1016/j.physletb.2018.08.047\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      }, {\n\
        \        \"external-id-type\" : \"arxiv\",\n        \"external-id-value\"\
        \ : \"1805.04383\",\n        \"external-id-url\" : {\n          \"value\"\
        \ : \"http://arxiv.org/abs/1805.04383\"\n        },\n        \"external-id-relationship\"\
        \ : \"SELF\"\n      } ]\n    },\n    \"work-summary\" : [ {\n      \"put-code\"\
        \ : 48036566,\n      \"created-date\" : {\n        \"value\" : 1536191574386\n\
        \      },\n      \"last-modified-date\" : {\n        \"value\" : 1537516275016\n\
        \      },\n      \"source\" : {\n        \"source-orcid\" : null,\n      \
        \  \"source-client-id\" : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"INSPIRE-HEP\"\n        }\n      },\n      \"title\" : {\n        \"\
        title\" : {\n          \"value\" : \"Inclusive J/$\\\\psi$ production in Xe\u2013\
        Xe collisions at $\\\\sqrt{s_{\\\\rm NN}}$ = 5.44 TeV\"\n        },\n    \
    [...]
