interactions:
- request:
    body: !!python/unicode '<root><child1/></root>'
    headers:
      Content-Type: [application/orcid+xml]
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/work
  response:
    body: {string: !!python/unicode '{"response-code":400,"developer-message":"400
        Bad Request: There is an issue with your data or the API endpoint. 405 Method
        Not Allowed: Endpoint and method mismatch. 415 Unsupported Media Type: data
        must be in XML or JSON format. Full validation error: javax.xml.bind.UnmarshalException\n
        - with linked exception:\n[org.xml.sax.SAXParseException; lineNumber: 1; columnNumber:
        7; cvc-elt.1.a: Cannot find the declaration of element ''root''.] (cvc-elt.1.a:
        Cannot find the declaration of element ''root''.)","user-message":"ORCID could
        not process the data, because they were invalid.","error-code":9001,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 400, message: Bad Request}
version: 1
