interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/INVALID-ORCID/works/12345
  response:
    body: {string: !!python/unicode '{"response-code":500,"developer-message":"500
        Internal Server Error: Contact support@orcid.org for assistance. Full validation
        error: No such record: INVALID-ORCID","user-message":"Something went wrong
        in ORCID.","error-code":9008,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 500, message: Internal Server Error}
version: 1
