interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/works/xxx,46674246
  response:
    body: {string: !!python/unicode "{\n  \"bulk\" : [ {\n    \"error\" : {\n    \
        \  \"response-code\" : 400,\n      \"developer-message\" : \"400 Bad Request:\
        \ The put code provided is not valid. Full validation error: 'xxx' is not\
        \ a valid put code\",\n      \"user-message\" : \"There was an error when\
        \ updating the record. Please try again. If the error persists, please contact\
        \ ${clientName} for assistance.\",\n      \"error-code\" : 9034,\n      \"\
        more-info\" : \"https://members.orcid.org/api/resources/troubleshooting\"\n\
        \    }\n  }, {\n    \"work\" : {\n      \"created-date\" : {\n        \"value\"\
        \ : 1531928587375\n      },\n      \"last-modified-date\" : {\n        \"\
        value\" : 1532075643102\n      },\n      \"source\" : {\n        \"source-orcid\"\
        \ : null,\n        \"source-client-id\" : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"INSPIRE-HEP\"\n        }\n      },\n      \"put-code\" : 46674246,\n\
        \      \"path\" : null,\n      \"title\" : {\n        \"title\" : {\n    \
        \      \"value\" : \"Some Results Arising from the Study of ORCID push in\
        \ PROD at ts 1532074000.23\"\n        },\n        \"subtitle\" : null,\n \
        \       \"translated-title\" : null\n      },\n      \"journal-title\" : null,\n\
        \      \"short-description\" : null,\n      \"citation\" : {\n        \"citation-type\"\
        \ : \"BIBTEX\",\n        \"citation-value\" : \"@article{1682969,\\n    author\
        \ = \\\"Rossoni, A.\\\",\\n    doi = \\\"10.1000/test.orcid.push.https://labs.inspirehep.net\\\
        \",\\n    title = \\\"Some Results Arising from the Study of ORCID push in\
        \ PROD at ts 1532074000.23\\\"\\n}\\n\"\n      },\n      \"type\" : \"JOURNAL_ARTICLE\"\
        ,\n      \"publication-date\" : null,\n      \"external-ids\" : {\n      \
        \  \"external-id\" : [ {\n          \"external-id-type\" : \"doi\",\n    \
        \      \"external-id-value\" : \"10.1000/test.orcid.push.https://labs.inspirehep.net\"\
        ,\n          \"external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push.https://labs.inspirehep.net\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"url\" : {\n        \"value\" : \"http://inspirehep.net/record/1682969\"\
        \n      },\n      \"contributors\" : {\n        \"contributor\" : [ {\n  \
        \        \"contributor-orcid\" : null,\n          \"credit-name\" : {\n  \
        \          \"value\" : \"Rossoni, A.\"\n          },\n          \"contributor-email\"\
        \ : null,\n          \"contributor-attributes\" : {\n            \"contributor-sequence\"\
        \ : \"FIRST\",\n            \"contributor-role\" : \"AUTHOR\"\n          }\n\
        \        } ]\n      },\n      \"language-code\" : null,\n      \"country\"\
        \ : null,\n      \"visibility\" : \"PUBLIC\"\n    }\n  } ]\n}"}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
