interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-6665-4934/works
  response:
    body: {string: "{\n  \"last-modified-date\" : {\n    \"value\" : 1533629426395\n\
        \  },\n  \"group\" : [ {\n    \"last-modified-date\" : {\n      \"value\"\
        \ : 1532457048556\n    },\n    \"external-ids\" : {\n      \"external-id\"\
        \ : [ {\n        \"external-id-type\" : \"arxiv\",\n        \"external-id-value\"\
        \ : \"1804.01126\",\n        \"external-id-url\" : {\n          \"value\"\
        \ : \"http://arxiv.org/abs/1804.01126\"\n        },\n        \"external-id-relationship\"\
        \ : \"SELF\"\n      }, {\n        \"external-id-type\" : \"doi\",\n      \
        \  \"external-id-value\" : \"10.1016/j.physletb.2018.07.006\",\n        \"\
        external-id-url\" : {\n          \"value\" : \"http://dx.doi.org/10.1016/j.physletb.2018.07.006\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      } ]\n\
        \    },\n    \"work-summary\" : [ {\n      \"put-code\" : 43326850,\n    \
        \  \"created-date\" : {\n        \"value\" : 1522985043530\n      },\n   \
        \   \"last-modified-date\" : {\n        \"value\" : 1532457048556\n      },\n\
        \      \"source\" : {\n        \"source-orcid\" : null,\n        \"source-client-id\"\
        \ : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"INSPIRE-HEP\"\n        }\n      },\n      \"title\" : {\n        \"\
        title\" : {\n          \"value\" : \"Search for a heavy Higgs boson decaying\
        \ into a $Z$ boson and another heavy Higgs boson in the $\\\\ell\\\\ell bb$\
        \ final state in $pp$ collisions at $\\\\sqrt{s}=13$ TeV with the ATLAS detector\"\
        \n        },\n        \"subtitle\" : null,\n        \"translated-title\" :\
        \ null\n      },\n      \"external-ids\" : {\n        \"external-id\" : [\
        \ {\n          \"external-id-type\" : \"doi\",\n          \"external-id-value\"\
        \ : \"10.1016/j.physletb.2018.07.006\",\n          \"external-id-url\" : {\n\
        \            \"value\" : \"http://dx.doi.org/10.1016/j.physletb.2018.07.006\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  }, {\n          \"external-id-type\" : \"arxiv\",\n          \"external-id-value\"\
        \ : \"1804.01126\",\n          \"external-id-url\" : {\n            \"value\"\
        \ : \"http://arxiv.org/abs/1804.01126\"\n          },\n          \"external-id-relationship\"\
        \ : \"SELF\"\n        } ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\"\
        ,\n      \"publication-date\" : {\n        \"year\" : {\n          \"value\"\
        \ : \"2018\"\n        },\n        \"month\" : {\n          \"value\" : \"\
        08\"\n        },\n        \"day\" : {\n          \"value\" : \"10\"\n    \
        \    },\n        \"media-type\" : null\n      },\n      \"visibility\" : \"\
        PUBLIC\",\n      \"path\" : \"/0000-0002-6665-4934/work/43326850\",\n    \
        \  \"display-index\" : \"0\"\n    } ]\n  }, {\n    \"last-modified-date\"\
        \ : {\n      \"value\" : 1531969481223\n    },\n    \"external-ids\" : {\n\
        \      \"external-id\" : [ {\n        \"external-id-type\" : \"arxiv\",\n\
        \        \"external-id-value\" : \"1803.09678\",\n        \"external-id-url\"\
        \ : {\n          \"value\" : \"http://arxiv.org/abs/1803.09678\"\n       \
        \ },\n        \"external-id-relationship\" : \"SELF\"\n      }, {\n      \
        \  \"external-id-ty[...]
