interactions:
- request:
    body: !!python/unicode "<work:work xmlns:work=\"http://www.orcid.org/ns/work\"\
      \ xmlns:common=\"http://www.orcid.org/ns/common\">\n        <work:title>\n \
      \           <common:title>ORCID Push test</common:title>\n        </work:title>\n\
      \        <work:journal-title>ORCID Push test</work:journal-title>\n        <work:type>journal-article</work:type>\n\
      \        <common:publication-date>\n            <common:year>1975</common:year>\n\
      \        </common:publication-date>\n        <common:external-ids>\n       \
      \     <common:external-id>\n                <common:external-id-type>doi</common:external-id-type>\n\
      \                <common:external-id-value>10.1000/test.orcid.push</common:external-id-value>\n\
      \                <common:external-id-url>http://dx.doi.org/10.1000/test.orcid.push</common:external-id-url>\n\
      \                <common:external-id-relationship>self</common:external-id-relationship>\n\
      \            </common:external-id>\n        </common:external-ids>\n       \
      \ <work:url>http://inspirehep.net/record/8201</work:url>\n        <work:contributors>\n\
      \            <work:contributor>\n                <work:credit-name>Rossoni,\
      \ A.</work:credit-name>\n                <work:contributor-attributes>\n   \
      \                 <work:contributor-sequence>first</work:contributor-sequence>\n\
      \                    <work:contributor-role>author</work:contributor-role>\n\
      \                </work:contributor-attributes>\n            </work:contributor>\n\
      \        </work:contributors>\n    </work:work>"
    headers:
      Content-Type: [application/orcid+xml]
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/work
  response:
    body: {string: !!python/unicode '{"message":"whatever"}'}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 400, message: Bad Request}
version: 1
